* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --lime-light: hsl(61, 70%, 80);

  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --slate-1000: hsl(202, 55%, 12%);
}

img,
svg {
  max-width: 100%;
  display: block;
}

label {
  width: 100%;
  margin-bottom: 0.5rem;
  display: block;
}

input[type="number"] {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  border: 0;
  outline: 0;
}

input[type="radio"] {
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  outline: 2px solid var(--slate-900);
  outline-offset: 3px;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--lime);
}

.radio-inputs {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--slate-300);
}

.radio-inputs > * {
  cursor: pointer;
}

.radio-inputs:hover {
  border: 1px solid var(--lime);
}

.radio-inputs label {
  margin-bottom: 0;
}

.radio-inputs.selected {
  background-color: var(--lime-light);
  border: 1px solid var(--lime);
}

.radio-inputs.selected input[type="radio"] {
  outline: 3px solid var(--lime);
}

button {
  cursor: pointer;
}

.form-item {
  margin-bottom: 2rem;
  padding-bottom: 15px;
}

.form-symbol {
  background-color: var(--slate-100);
  color: var(--slate-700);
  padding: 0.5rem 0.75rem;
  font-weight: 700;
}

.form-flex {
  display: flex;
  border: 1px solid var(--slate-300);
}
.form-alrt {
  padding-top: 15px;
}
.form-flex:hover {
  border: 1px soild var(--slate-900);
}

.form-flex:focus-within {
  border: 1px solid var(--lime);
}

.form-flex:focus-within .form-symbol {
  background-color: var(--lime);
  border: 1px solid var(--lime);
}

.form-flex.error {
  border: 1px solid var(--red);
}

.form-flex.error .form-symbol {
  background-color: var(--red);
  color: var(--white);
}

form-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;
}

.form-col .form-item {
  margin: 0;
}

body {
  background-color: var(--slate-100);
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: grid;
  place-content: center;
}

.form-alert {
  color: var(--red);
  display: none;
}

.mortgage-calculator {
  background-color: var(--white);
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.5rem;
  overflow: hidden;
}

.mortgage-calculator > * {
  padding: 2rem;
}

.mortgage-calculator .left {
  color: var(--slate-900);
}

.mortgage-calculator .left .light-text {
  color: var(--slate-700);
  font-weight: 500;
}

.mortgage-calculator .left .header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mortgage-calculator .left .header button {
  background-color: transparent;
  color: var(--slate-500);
  padding: 0.25rem 0.5rem;
  font-size: 1.15rem;
  text-decoration: underline;
  border: 0;
}

.mortgage-calculator .left .header button:hover {
  color: var(--slate-900);
}

.mortgage-calculator .left .calculate-btn {
  background-color: var(--lime);
  color: var(--slate-900);
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 1.5rem;
}

.mortgage-calculator .left .calculate-btn:hover {
  background-color: var(--lime-light);
}

.mortgage-calculator .right {
  background-color: var(--slate-900);
  color: var(--white);
  border-radius: 0 0 0 4rem;
}

.mortgage-calculator .right .light-text {
  color: var(--slate-500);
  font-weight: 500;
}

.mortgage-calculator .right .default-text {
  margin-top: 5rem;
  text-align: center;
}

.mortgage-calculator .right .default-text.hide {
  display: none;
}

.mortgage-calculator .right .default-text img {
  margin: auto;
}

.mortgage-calculator .right .default-text h2 {
  margin-bottom: 1rem;
}

.mortgage-calculator .right .calculations-container {
  display: none;
}

.mortgage-calculator .right .calculations-container.show {
  display: block;
}

.mortgage-calculator .right .calculations-container .light-text {
  margin: 1rem 0 2rem;
}

.mortgage-calculator .right .calculations-container .calculations {
  background-color: var(--slate-1000);
  padding: 1.5rem;
  border-top: 4px solid var(--lime);
  border-radius: 1rem;
}

.mortgage-calculator .right .calculations-container .calculations .light-text {
  margin: 0 0 1rem;
}

.mortgage-calculator
  .right
  .calculations-container
  .calculations
  .monthly-result {
  color: var(--lime);
  font-size: 4rem;
  font-weight: 700;
}

.mortgage-calculator .right .calculations-container .calculations .line {
  background-color: var(--slate-500);
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  display: block;
}

.mortgage-calculator .right .calculations-container .calculations .term-result {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 800px) {
  .mortgage-calculator {
    margin: 2rem;
    grid-template-columns: 1fr;
  }

  .mortgage-calculator .right .default-text {
    margin-top: 3rem;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .monthly-result {
    color: var(--lime);
    font-size: 1.5rem;
    font-weight: 700;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .light-text {
    margin: 0 0 3rem 0rem;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .term-result {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 425px) {
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .light-text {
    margin: 0 0 1rem 5rem;
  }
  .mortgage-calculator .right .calculations-container .light-text {
    margin: 0rem 0rem 1rem;
    font-size: small;
  }
  .mortgage-calculator .right .calculations-container .calculations {
    padding-left: 7px;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .monthly-result {
    color: var(--lime);
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 1rem 3rem;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .term-result {
    color: var(--white);
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 1rem 3rem;
  }
}
@media (max-width: 320px) {
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .monthly-result {
    color: var(--lime);
    font-size: 17px;
    margin: 0 1rem 3rem;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .term-result {
    color: var(--white);
    font-size: 1rem;
    margin: 0 1rem 2rem;
    font-weight: 700;
  }

  .mortgage-calculator .right .calculations-container .calculations {
    margin: auto;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .light-text {
    margin: 0 0 1rem 1rem;
  }
}

@media (max-width: 540px) {
  .mortgage-calculator {
    margin: 0;
    grid-template-columns: 1fr;
    border-radius: initial;
  }

  .mortgage-calculator .left .header {
    display: block;
    margin-bottom: 2rem;
  }

  .form-col {
    grid-template-columns: 1fr;
  }

  .mortgage-calculator .right {
    border-radius: initial;
  }

  .mortgage-calculator .left .calculate-btn {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1500px) {
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .monthly-result {
    color: var(--lime);
    font-size: 1rem;
    font-weight: 700;
  }
  .mortgage-calculator
    .right
    .calculations-container
    .calculations
    .term-result {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
  }
}
